<h1>Main page!</h1>
<% if @user %>
  <div class="mb-3">
    <i class="bi bi-person-circle"></i>
    <%= @user.email %>
    - Logout
    <%#= link_to "Logout", logout_path, class:"" %>
  </div>
<% else %>
  Login
  <%#= link_to "Login", login_path, class:"" %>
<% end %>
