<h1>Main page!</h1>
<% if @user %>
  <div class="mb-3">
    <i class="bi bi-person-circle"></i>
    <%= @user.email %>
    <%= button_to "<i class='bi bi-box-arrow-right'></i> Logout".html_safe, logout_path, class:"btn btn-link", method: :delete %>
  </div>
<% else %>
<% end %>
