/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .hideMe {
    animation: fadeOutFromPage 1s ease-in 2s forwards;
    display: block;
}
@keyframes fadeOutFromPage {
  0% {
      display: block;
      opacity: 1;
      visibility: visible;
  }
  10% {
      display: block;
      opacity: 0;
      visibility: visible;
  }
  100% {
      display: none;
      opacity: 0;
      visibility: hidden;
      height:0;
      width:0;
      padding:0;
      margin:0;
      border:0;
  }
}

li.active a {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}